<?xml version="1.0" encoding="iso-8859-1"?>
<AmazonEnvelope 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="amzn-envelope.xsd"
>
  <Header>
    <DocumentVersion>1.01</DocumentVersion>
    <MerchantIdentifier>{{seller_id}}</MerchantIdentifier>
  </Header>
  <MessageType>Product</MessageType>
  <PurgeAndReplace>false</PurgeAndReplace>
  {{#parts}}
    <Message>
      <MessageID>{{i}}</MessageID>
      <OperationType>Update</OperationType>
      <Product>
        <SKU>pf-{{id}}</SKU>
        <StandardProductID>
          <Type>UPC</Type>
          <Value>{{upc}}</Value>
        </StandardProductID>
        <ProductTaxCode>A_GEN_NOTAX</ProductTaxCode>
        <ItemPackageQuantity>1</ItemPackageQuantity>
        <DescriptionData>
          <Title>{{title}}</Title>
          <Brand>Genérico</Brand>
          <Description>{{description}}</Description>
          <BulletPoint>Categoria: {{category}}</BulletPoint>
          <BulletPoint>Compatibilidad: {{cars}}</BulletPoint>
          <BulletPoint>Lado: {{side}}</BulletPoint>
          <BulletPoint>Numero de Parte: {{id}}</BulletPoint>
          <MSRP currency="MXN">{{price}}</MSRP>
          <Manufacturer>Parts Fit Auto Body Parts</Manufacturer>
          <MfrPartNumber>{{id}}</MfrPartNumber>
          <!-- <ItemType>example-item-type</ItemType> -->
        </DescriptionData>
        <ProductData>
          <AutoAccessory>
            <ProductType>
              <AutoPart>
                <Orientation>passengers_side</Orientation>
              </AutoPart>
            </ProductType>
          </AutoAccessory>
        </ProductData>
      </Product>
    </Message>
  {{/parts}}
</AmazonEnvelope>