<?xml version="1.0" encoding="utf-8" ?> 
<AmazonEnvelope 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="amzn-envelope.xsd"
>
  <Header>
    <DocumentVersion>1.01</DocumentVersion> 
    <MerchantIdentifier>{{seller_id}}</MerchantIdentifier> 
  </Header>
  <MessageType>ProductImage</MessageType> 
  {{#parts}}
  <Message>
    <MessageID>{{i}}</MessageID> 
    <OperationType>Update</OperationType> 
    <ProductImage>
      <SKU>pf-{{id}}</SKU> 
      <ImageType>Main</ImageType> 
      <ImageLocation>{{{image}}}</ImageLocation>
    </ProductImage>
  </Message>
  {{/parts}}
</AmazonEnvelope>