<?xml version="1.0" encoding="utf-8" ?> 
<AmazonEnvelope 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="amzn-envelope.xsd"
>
  <Header>
  <DocumentVersion>1.01</DocumentVersion> 
  <MerchantIdentifier>{{seller_id}}</MerchantIdentifier> 
  </Header>
  <MessageType>Price</MessageType> 
  {{#parts}}
  <Message>
    <MessageID>{{i}}</MessageID> 
    <Price>
      <SKU>pf-{{id}}</SKU> 
      <StandardPrice currency="MXN">{{price}}</StandardPrice> 
    </Price>
  </Message>
  {{/parts}}
</AmazonEnvelope>